.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    border-radius: 10px;
    width: 400px;
    height: 530px;
    background: linear-gradient(45deg,rgb(50, 98, 242),rgb(154, 154, 129),rgb(189, 189, 208));
}

.pre-main{
    padding: 10px;
    justify-content: center;
    margin: 10px;
    gap: 30px;
    display: flex;     
}

.search-logo{
    position: absolute;
    right: 40%;
    top: 17%;
    height: 30px;
}

.input{
    position: relative;
    width: 20rem;
    padding: 10px;
    border-radius: 5px;
    border: white;
}

.cloud-sun{
    height: 150px;
}

.cloudSun-main{
    display: flex;
    justify-content: center;
}

.heading1{
    text-align: center;
}

.p1{
    text-align: center;
}

.show-weather{
    display: flex;
    padding: 10px;
    margin: 40px;
    gap: 130px;
}

.humidity-image{
    height: 67px;
}

.wind-image{
    height: 66px;
}

.gotohome{
    position: absolute;
    bottom: 6%;
    left: 40%;
    padding: 7px;
    margin: 10px;
    width: 7%;
    border-radius: 3px;
}

.gotocrypto{
    bottom: 6%;
    right: 40%;
    position: absolute;
    padding: 7px;
    margin: 10px;
    width: 7%;
    border-radius: 3px;
}


